In [2]:
data=[[2,4],[6,7],[12,33]]

In [1]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
scal=MinMaxScaler()

In [4]:
scal.fit_transform(data)

array([[0.        , 0.        ],
       [0.4       , 0.10344828],
       [1.        , 1.        ]])

In [6]:
mns=MinMaxScaler(feature_range=(-2,2))
mns.fit_transform(data)

array([[-2.       , -2.       ],
       [-0.4      , -1.5862069],
       [ 2.       ,  2.       ]])

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
std=StandardScaler()
std.fit_transform(data)

array([[-1.13554995, -0.8191675 ],
       [-0.16222142, -0.58877664],
       [ 1.29777137,  1.40794413]])

In [10]:
import pandas as pd

In [11]:
dat=pd.read_csv('CARSS.csv')

In [12]:
dat.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [14]:
from sklearn.preprocessing import StandardScaler

std=StandardScaler()

ds=std.fit_transform(dat[[ 'Volume','Weight']])

ds=pd.DataFrame(ds)

ds.columns = ['volume', 'weight']

df=pd.concat([dat,ds],axis=1)

In [26]:
df

           Car       Model  Volume  Weight  CO2    volume    weight
0       Toyoty        Aygo     1.0     790   99 -1.593366 -2.103893
1   Mitsubishi  Space Star     1.2    1160   95 -1.071901 -0.554072
2        Skoda      Citigo     1.0     929   95 -1.593366 -1.521663
3         Fiat         500     0.9     865   90 -1.854099 -1.789740
4         Mini      Cooper     1.5    1140  105 -0.289703 -0.637846
5           VW         Up!     1.0     929  105 -1.593366 -1.521663
6        Skoda       Fabia     1.4    1109   90 -0.550436 -0.767696
7     Mercedes     A-Class     1.5    1365   92 -0.289703  0.304612
8         Ford      Fiesta     1.5    1112   98 -0.289703 -0.755130
9         Audi          A1     1.6    1150   99 -0.028970 -0.595959
10     Hyundai         I20     1.1     980   99 -1.332634 -1.308039
11      Suzuki       Swift     1.3     990  101 -0.811168 -1.266152
12        Ford      Fiesta     1.0    1112   99 -1.593366 -0.755130
13       Honda       Civic     1.6    1252   94 -0.028970 -0.168712
14      Hundai         I30     1.6    1326   97 -0.028970  0.141252
15        Opel       Astra     1.6    1330   97 -0.028970  0.158007
16         BMW           1     1.6    1365   99 -0.028970  0.304612
17       Mazda           3     2.2    1280  104  1.535426 -0.051428
18       Skoda       Rapid     1.6    1119  104 -0.028970 -0.725809
19        Ford       Focus     2.0    1328  105  1.013960  0.149630
20        Ford      Mondeo     1.6    1584   94 -0.028970  1.221938
21        Opel    Insignia     2.0    1428   99  1.013960  0.568500
22    Mercedes     C-Class     2.1    1365   99  1.274693  0.304612
23       Skoda     Octavia     1.6    1415   99 -0.028970  0.514047
24       Volvo         S60     2.0    1415   99  1.013960  0.514047
25    Mercedes         CLA     1.5    1465  102 -0.289703  0.723482
26        Audi          A4     2.0    1490  104  1.013960  0.828200
27        Audi          A6     2.0    1725  114  1.013960  1.812545
28       Volvo         V70     1.6    1523  109 -0.028970  0.966427
29         BMW           5     2.0    1705  114  1.013960  1.728771
30    Mercedes     E-Class     2.1    1605  115  1.274693  1.309901
31       Volvo        XC70     2.0    1746  117  1.013960  1.900508
32        Ford       B-Max     1.6    1235  104 -0.028970 -0.239920
33         BMW         216     1.6    1390  108 -0.028970  0.409329
34        Opel      Zafira     1.6    1405  109 -0.028970  0.472160
35    Mercedes         SLK     2.5    1395  120  2.317624  0.430273

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mnx=MinMaxScaler()

da=std.fit_transform(dat[[ 'Volume','Weight']])

da=pd.DataFrame(da)

da.columns = ['Volume_minmax', 'Weight_minmax']

df=pd.concat([dat,da],axis=1)

In [29]:
df

           Car       Model  Volume  Weight  CO2  Volume_minmax  Weight_minmax
0       Toyoty        Aygo     1.0     790   99      -1.593366      -2.103893
1   Mitsubishi  Space Star     1.2    1160   95      -1.071901      -0.554072
2        Skoda      Citigo     1.0     929   95      -1.593366      -1.521663
3         Fiat         500     0.9     865   90      -1.854099      -1.789740
4         Mini      Cooper     1.5    1140  105      -0.289703      -0.637846
5           VW         Up!     1.0     929  105      -1.593366      -1.521663
6        Skoda       Fabia     1.4    1109   90      -0.550436      -0.767696
7     Mercedes     A-Class     1.5    1365   92      -0.289703       0.304612
8         Ford      Fiesta     1.5    1112   98      -0.289703      -0.755130
9         Audi          A1     1.6    1150   99      -0.028970      -0.595959
10     Hyundai         I20     1.1     980   99      -1.332634      -1.308039
11      Suzuki       Swift     1.3     990  101      -0.811168      -1.266152
12        Ford      Fiesta     1.0    1112   99      -1.593366      -0.755130
13       Honda       Civic     1.6    1252   94      -0.028970      -0.168712
14      Hundai         I30     1.6    1326   97      -0.028970       0.141252
15        Opel       Astra     1.6    1330   97      -0.028970       0.158007
16         BMW           1     1.6    1365   99      -0.028970       0.304612
17       Mazda           3     2.2    1280  104       1.535426      -0.051428
18       Skoda       Rapid     1.6    1119  104      -0.028970      -0.725809
19        Ford       Focus     2.0    1328  105       1.013960       0.149630
20        Ford      Mondeo     1.6    1584   94      -0.028970       1.221938
21        Opel    Insignia     2.0    1428   99       1.013960       0.568500
22    Mercedes     C-Class     2.1    1365   99       1.274693       0.304612
23       Skoda     Octavia     1.6    1415   99      -0.028970       0.514047
24       Volvo         S60     2.0    1415   99       1.013960       0.514047
25    Mercedes         CLA     1.5    1465  102      -0.289703       0.723482
26        Audi          A4     2.0    1490  104       1.013960       0.828200
27        Audi          A6     2.0    1725  114       1.013960       1.812545
28       Volvo         V70     1.6    1523  109      -0.028970       0.966427
29         BMW           5     2.0    1705  114       1.013960       1.728771
30    Mercedes     E-Class     2.1    1605  115       1.274693       1.309901
31       Volvo        XC70     2.0    1746  117       1.013960       1.900508
32        Ford       B-Max     1.6    1235  104      -0.028970      -0.239920
33         BMW         216     1.6    1390  108      -0.028970       0.409329
34        Opel      Zafira     1.6    1405  109      -0.028970       0.472160
35    Mercedes         SLK     2.5    1395  120       2.317624       0.430273

In [30]:
import seaborn as sns

In [31]:
ds = sns.load_dataset('iris')

ds.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
mean_values = ds.mean(numeric_only=True)

In [48]:
mean_values

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [50]:
from sklearn.preprocessing import StandardScaler

std=StandardScaler()

dsa=std.fit_transform(ds[[ 'sepal_length','sepal_width','petal_length','petal_width']])

dss=pd.DataFrame(dsa)

dss.columns = ['sepal_length_std','sepal_width_std','petal_length_std','petal_width_std']

df=pd.concat([ds,dss],axis=1)

In [51]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_std,sepal_width_std,petal_length_std,petal_width_std
0,5.1,3.5,1.4,0.2,setosa,-0.900681,1.019004,-1.340227,-1.315444
1,4.9,3.0,1.4,0.2,setosa,-1.143017,-0.131979,-1.340227,-1.315444
2,4.7,3.2,1.3,0.2,setosa,-1.385353,0.328414,-1.397064,-1.315444
3,4.6,3.1,1.5,0.2,setosa,-1.506521,0.098217,-1.283389,-1.315444
4,5.0,3.6,1.4,0.2,setosa,-1.021849,1.249201,-1.340227,-1.315444
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1.038005,-0.131979,0.819596,1.448832
146,6.3,2.5,5.0,1.9,virginica,0.553333,-1.282963,0.705921,0.922303
147,6.5,3.0,5.2,2.0,virginica,0.795669,-0.131979,0.819596,1.053935
148,6.2,3.4,5.4,2.3,virginica,0.432165,0.788808,0.933271,1.448832
149,5.9,3.0,5.1,1.8,virginica,0.068662,-0.131979,0.762758,0.790671

In [52]:
from sklearn.preprocessing import MinMaxScaler

mnx=MinMaxScaler()

dsa=mnx.fit_transform(ds[[ 'sepal_length','sepal_width','petal_length','petal_width']])

dss=pd.DataFrame(dsa)

dss.columns = ['sepal_length_mnx','sepal_width_mnx','petal_length_mnx','petal_width_mnx']

df=pd.concat([ds,dss],axis=1)

In [53]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_mnx,sepal_width_mnx,petal_length_mnx,petal_width_mnx
0,5.1,3.5,1.4,0.2,setosa,0.222222,0.625000,0.067797,0.041667
1,4.9,3.0,1.4,0.2,setosa,0.166667,0.416667,0.067797,0.041667
2,4.7,3.2,1.3,0.2,setosa,0.111111,0.500000,0.050847,0.041667
3,4.6,3.1,1.5,0.2,setosa,0.083333,0.458333,0.084746,0.041667
4,5.0,3.6,1.4,0.2,setosa,0.194444,0.666667,0.067797,0.041667
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0.666667,0.416667,0.711864,0.916667
146,6.3,2.5,5.0,1.9,virginica,0.555556,0.208333,0.677966,0.750000
147,6.5,3.0,5.2,2.0,virginica,0.611111,0.416667,0.711864,0.791667
148,6.2,3.4,5.4,2.3,virginica,0.527778,0.583333,0.745763,0.916667
149,5.9,3.0,5.1,1.8,virginica,0.444444,0.416667,0.694915,0.708333

In [32]:
import seaborn as sns

# List all available datasets in Seaborn
available_datasets = sns.get_dataset_names()
print(available_datasets)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [56]:
ds = sns.load_dataset('brain_networks')
ds.tail()

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
918,915,-7.4295125007629395,-4.81321907043457,-3.670536518096924,1.4422610998153689,-19.6804313659668,-29.109355926513672,-3.3765623569488525,-8.764892578125,0.017911728471517563,...,58.28579330444336,68.55741119384766,22.83304786682129,76.17948913574219,51.9346694946289,-6.614512920379639,-6.690762042999268,22.893030166625977,48.27437973022461,76.22845458984375
919,916,-33.55413818359375,-38.60562133789063,-25.66480255126953,-30.252351760864254,5.5627851486206055,20.182186126708984,17.91124725341797,24.65358161926269,-32.93561172485352,...,59.86481857299805,23.00457763671875,7.6574625968933105,50.96239852905274,13.696922302246096,63.50361633300781,57.40117645263672,24.97454833984375,51.97215270996094,64.53878784179689
920,917,-78.53956604003906,-74.19718933105469,-54.04159545898438,-39.97029113769531,-14.277058601379395,-30.606460571289066,60.62852096557617,62.02702331542969,-32.80055618286133,...,68.76786804199219,49.66401672363281,64.55149841308594,43.80074691772461,8.144479751586914,47.28145980834961,70.49964904785156,66.99440002441406,81.53924560546875,64.96977233886719
921,918,-103.23582458496094,-98.7442855834961,-40.10954284667969,-44.90773391723633,12.109148025512695,1.6213401556015017,33.765560150146484,55.35607147216797,-14.330512046813965,...,103.1552505493164,106.45484924316406,9.04682731628418,46.67441940307617,40.95479583740234,0.8771800398826599,37.57715225219727,20.517745971679688,3.124434232711792,56.71838760375977
922,919,-36.28886795043945,-10.762069702148438,-30.35626220703125,-23.31950378417969,14.252187728881836,-27.55986022949219,17.279512405395508,-19.060152053833008,26.55877685546875,...,102.0863037109375,80.05113983154297,-2.6426103115081787,-12.229619979858398,-6.596726417541504,17.665163040161133,16.153173446655273,8.300398826599121,33.687530517578125,17.960655212402344