In [1]:
import pandas as pd

In [2]:
dat=pd.read_csv('titanic.csv')

In [3]:
dat.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print('pclass :',dat['Pclass'].nunique())
print('sib :',dat['SibSp'].nunique())
print('par :',dat['Parch'].nunique())
print('ticket ;', dat['Ticket'].nunique())
print('fare :',dat['Fare'].nunique())
print('cabin :',dat['Cabin'].nunique())
print('embarked :',dat['Embarked'].nunique())

pclass : 3
sib : 7
par : 7
ticket ; 681
fare : 248
cabin : 147
embarked : 3

In [5]:
dat.drop(['Ticket'],axis=1,inplace=True)

In [6]:
dat.drop(['Fare','Cabin'],axis=1,inplace=True)

In [7]:
dat.drop(['PassengerId','Name'],axis=1,inplace=True)

In [10]:
dat.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [11]:
def impute_age(cols):
    Age=cols[0]
    Pclass=cols[1]
    
    if pd.isnull(Age):
        if Pclass==1:
            return 37
        elif Pclass==2:
            return 29
        else:
            return 24
    else:
        return Age

In [12]:
dat['Age']=dat[['Age','Pclass']].apply(impute_age,axis=1)

In [15]:
dat.dropna(inplace=True)

In [16]:
dat.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [17]:
dat.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [19]:
da=pd.get_dummies(data=dat,columns=['Sex','Embarked'],drop_first=True)

In [21]:
XX=da.iloc[:,1:].values

In [23]:
da

     Survived  Pclass   Age  SibSp  Parch  Sex_male  Embarked_Q  Embarked_S
0           0       3  22.0      1      0         1           0           1
1           1       1  38.0      1      0         0           0           0
2           1       3  26.0      0      0         0           0           1
3           1       1  35.0      1      0         0           0           1
4           0       3  35.0      0      0         1           0           1
..        ...     ...   ...    ...    ...       ...         ...         ...
886         0       2  27.0      0      0         1           0           1
887         1       1  19.0      0      0         0           0           1
888         0       3  24.0      1      2         0           0           1
889         1       1  26.0      0      0         1           0           0
890         0       3  32.0      0      0         1           1           0

[889 rows x 8 columns]

In [22]:
XX

array([[ 3., 22.,  1., ...,  1.,  0.,  1.],
       [ 1., 38.,  1., ...,  0.,  0.,  0.],
       [ 3., 26.,  0., ...,  0.,  0.,  1.],
       ...,
       [ 3., 24.,  1., ...,  0.,  0.,  1.],
       [ 1., 26.,  0., ...,  1.,  0.,  0.],
       [ 3., 32.,  0., ...,  1.,  1.,  0.]])

In [24]:
YY=da.iloc[:,0]

In [25]:
YY

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
model=GaussianNB()

In [32]:
from sklearn.model_selection import train_test_split
x_trian,x_test,y_train,y_test=train_test_split(XX,YY,test_size=0.3,random_state=3)

In [33]:
model.fit(x_trian,y_train)

GaussianNB()

In [35]:
y_pred=model.predict(x_test)

In [36]:
from sklearn.metrics import classification_report

In [38]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.87      0.81       158
           1       0.76      0.61      0.67       109

    accuracy                           0.76       267
   macro avg       0.76      0.74      0.74       267
weighted avg       0.76      0.76      0.75       267