In [1]:
import nltk
import pandas as pd

In [2]:
text = "Apple acquired Zoom in China on Wednesday 6th May 2020.\
This news has made Apple and Google stock jump by 5% on Dow Jones Index in the \
United States of America"

In [3]:
words=nltk.word_tokenize(text)

In [4]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [5]:
pos_tags=nltk.pos_tag(words)
pos_tags

[('Apple', 'NNP'),
 ('acquired', 'VBD'),
 ('Zoom', 'NNP'),
 ('in', 'IN'),
 ('China', 'NNP'),
 ('on', 'IN'),
 ('Wednesday', 'NNP'),
 ('6th', 'CD'),
 ('May', 'NNP'),
 ('2020.This', 'CD'),
 ('news', 'NN'),
 ('has', 'VBZ'),
 ('made', 'VBN'),
 ('Apple', 'NNP'),
 ('and', 'CC'),
 ('Google', 'NNP'),
 ('stock', 'NN'),
 ('jump', 'NN'),
 ('by', 'IN'),
 ('5', 'CD'),
 ('%', 'NN'),
 ('on', 'IN'),
 ('Dow', 'NNP'),
 ('Jones', 'NNP'),
 ('Index', 'NNP'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('United', 'NNP'),
 ('States', 'NNPS'),
 ('of', 'IN'),
 ('America', 'NNP')]

In [6]:
nltk.download('tagsets')

[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

True

In [8]:
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [9]:
nltk.download('maxent_ne_chunker')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!

True

In [10]:
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [11]:
chunks=nltk.ne_chunk(pos_tags,binary=True)
for chunk in chunks:
    print(chunk)

(NE Apple/NNP)
('acquired', 'VBD')
('Zoom', 'NNP')
('in', 'IN')
(NE China/NNP)
('on', 'IN')
('Wednesday', 'NNP')
('6th', 'CD')
('May', 'NNP')
('2020.This', 'CD')
('news', 'NN')
('has', 'VBZ')
('made', 'VBN')
(NE Apple/NNP)
('and', 'CC')
(NE Google/NNP)
('stock', 'NN')
('jump', 'NN')
('by', 'IN')
('5', 'CD')
('%', 'NN')
('on', 'IN')
('Dow', 'NNP')
('Jones', 'NNP')
('Index', 'NNP')
('in', 'IN')
('the', 'DT')
(NE United/NNP States/NNPS)
('of', 'IN')
(NE America/NNP)

In [12]:
entities=[]
labels=[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
ent_labels=list(set(zip(entities,labels)))
ent_df=pd.DataFrame(ent_labels)
ent_df.columns=["entities","labels"]
ent_df

        entities labels
0  United States     NE
1        America     NE
2          Apple     NE
3         Google     NE
4          China     NE

In [14]:
chunks=nltk.ne_chunk(pos_tags,binary=False)
for chunk in chunks:
    print(chunk)
    entities=[]
labels=[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
ent_labels=list(set(zip(entities,labels)))
ent_df=pd.DataFrame(ent_labels)
ent_df.columns=["entities","labels"]
ent_df

(PERSON Apple/NNP)
('acquired', 'VBD')
(PERSON Zoom/NNP)
('in', 'IN')
(GPE China/NNP)
('on', 'IN')
('Wednesday', 'NNP')
('6th', 'CD')
('May', 'NNP')
('2020.This', 'CD')
('news', 'NN')
('has', 'VBZ')
('made', 'VBN')
(PERSON Apple/NNP)
('and', 'CC')
(ORGANIZATION Google/NNP)
('stock', 'NN')
('jump', 'NN')
('by', 'IN')
('5', 'CD')
('%', 'NN')
('on', 'IN')
(PERSON Dow/NNP Jones/NNP Index/NNP)
('in', 'IN')
('the', 'DT')
(GPE United/NNP States/NNPS)
('of', 'IN')
(GPE America/NNP)

          entities        labels
0          America           GPE
1            Apple        PERSON
2    United States           GPE
3  Dow Jones Index        PERSON
4             Zoom        PERSON
5           Google  ORGANIZATION
6            China           GPE

In [15]:
import spacy
from spacy import displacy

In [16]:
spacy.__version__

'3.7.5'

In [18]:
nlp=spacy.load("en_core_web_sm")

In [19]:
doc=nlp(text)

In [20]:
entts=[]
lbls=[]
for ent in doc.ents:
    entts.append(ent)
    lbls.append(ent.label_)
df=pd.DataFrame({'Entities':entts,'labels':lbls})

In [21]:
df

                             Entities   labels
0                             (Apple)      ORG
1                              (Zoom)      GPE
2                             (China)      GPE
3               (Wednesday, 6th, May)     DATE
4                             (Apple)      ORG
5                            (Google)      ORG
6                              (5, %)  PERCENT
7                 (Dow, Jones, Index)      ORG
8  (the, United, States, of, America)      GPE

In [22]:
spacy.explain("ORG")

'Companies, agencies, institutions, etc.'

In [23]:
tex=''' Pune Police detained Manorama Khedkar, mother of controversial IAS officer Puja Khedkar, on Thursday.
Police had been searching for Manorama and her husband Dilip after an FIR was filed against them and five 
others following the emergence of a video showing Manorama allegedly
threatening individuals with a gun over a land dispute.'''