In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('adult.csv')

In [3]:
import numpy as np

In [4]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [10]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [13]:
data.shape

(48842, 15)

In [15]:
print('workclass',data['workclass'].nunique())
print('fnlwgt',data['fnlwgt'].nunique())
print('education',data['education'].nunique())
print('educational-num',data['educational-num'].nunique())

print('marital-status',data['marital-status'].nunique())
print('occupation',data['occupation'].nunique())
print('relationship',data['relationship'].nunique())
print('race',data['race'].nunique())
print('gender',data['gender'].nunique())
print('capital-gain',data['capital-gain'].nunique())

print('capital-loss',data['capital-loss'].nunique())
print('hours-per-week',data['hours-per-week'].nunique())
print('native-country',data['native-country'].nunique())
print('income',data['income'].nunique())

workclass 9
fnlwgt 28523
education 16
educational-num 16
marital-status 7
occupation 15
relationship 6
race 5
gender 2
capital-gain 123
capital-loss 99
hours-per-week 96
native-country 42
income 2

In [16]:
correlation_matrix = data.corr()

ValueError: could not convert string to float: 'Private'