In [3]:
exp=int(input("enter year of experiance :"))
sal=int(input("enter salary"))
if exp>5:
    bonus=(5*sal)/100
    print("you will be rewarded with a bonus of ",bonus )
else:
    print("you will give a bonus after "+ str(5-exp) + "years")

enter year of experiance :2
enter salary1000
you will give a bonus after 3years

In [2]:
a=int(input("enter first number"))
b=int(input("enter second number"))
if a>b:
    print("first no was largerthat second")
else:
    print("second one was larger than previous")

enter first number1
enter second number2
second one was larger than previous

In [5]:
qty=int(input("enter quantity"))
tot=qty*100
if tot>1000:
    disc=(tot*10)/100
    tot=tot-disc
    print("you are provided with a reduction of ",disc)
else:
    print("your total is ",tot)

enter quantity9
your total is  900

In [2]:
yr=int(input("give me the year"))
if yr%4==0:
    print("its a leep year")
else:
    print("its not a leep year")

give me the year2024
its a leep year

In [4]:
for a in "apple":
    print(a,end="")

apple

In [5]:
lis=["ab","cd","ef"]
for i in lis:
    print(i)

ab
cd
ef

In [6]:
for i in lis:
    if i=="cd":
        break
    else:
        print(i)

ab

In [14]:
#0 3 6 9 12 15 18 21 24 27 
L=[]
for i in range(0,30):
    if i%3==0:
        if i%4==0:
            continue
        L+=[i]
        #print(i,end=" ")

In [15]:
L

[3, 6, 9, 15, 18, 21, 27]

In [20]:
di={"ab":1,"cd":2,"ef":3}
for i in di.items():
    print(i[0])

ab
cd
ef

In [21]:
di={"ab":1,"cd":2,"ef":3}
for i in di.items():
    print(i)

('ab', 1)
('cd', 2)
('ef', 3)

In [23]:
di={"ab":1,"cd":2,"ef":3}
for i,j in di.items():
    print(str(i) + " " +str(j))

ab 1
cd 2
ef 3

In [28]:
n=int(input("enter a number"))
for i in range(1,11):
    print(n," x ",i,"= ",i*n)

enter a number7
7  x  1 =  7
7  x  2 =  14
7  x  3 =  21
7  x  4 =  28
7  x  5 =  35
7  x  6 =  42
7  x  7 =  49
7  x  8 =  56
7  x  9 =  63
7  x  10 =  70

In [30]:
odd=[]
even=[]
for i in range(1,30):
    if i%2==0:
        even+=[i]
    else:
        odd+=[i]

In [31]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [32]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [36]:
strr=input("enter string :")
l=0
vov={"a","e","i","o","u"}

for i in strr:
    if i in vov:
        l+=1
print(l)

enter string :i am from trivandrum
6

In [34]:
print(l)

4

In [43]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [53]:
di={"veh":{"name":"maruthy","model":110,"color":"black"},"add":{"city":"tvm","pin":691535}}

In [68]:
ss=[]
ss+=[y for x,y in di.items()]

In [69]:
ss

[{'name': 'maruthy', 'model': 110, 'color': 'black'},
 {'city': 'tvm', 'pin': 691535}]

In [45]:
veh=["car","scooter","bike","bicycle"]
veh_r=[]
veh_r+=[x for x in veh if 'r' in x]

In [46]:
veh_r

['car', 'scooter']

In [50]:
ran=int(input("enter range"))
a=0
b=1

for i in range(ran):
    c=a+b
    a=b
    b=c
    print(c)

enter range5
1
2
3
5
8

In [52]:
for i in range(5):
    print(i* "*")
for i in range(5,0,-1):
    print(i* "*")

*
**
***
****
*****
****
***
**
*

In [7]:
a=int(input("enter first side of triangle"))
b=int(input("enter second side of triangle"))
c=int(input("enter third side of triangle"))

if a==b==c:
    print("its an equilateral triangle")
elif a==b or a==c or b==c:
    print("its isosceles triangle")
else:
    print("its scalene triangle")

enter first side of triangle12
enter second side of triangle12
enter third side of triangle12
its an equilateral triangle

In [14]:
import statistics as st

In [15]:
x=[12,23,23,4,5,6,6,7,6,8]

In [16]:
st.median(x)

6.5