# python

Python is a popular programme language simple,general purpose
high level & object oriented programme language 
open source and free easy to learn 
easy to read and maintain
no need to compile

In [4]:
a=10
b=20
c=a+b
#print(c)
c

30

In [3]:
print("WELCOME")

WELCOME

In [5]:
a

10

In [6]:
b

20

In [7]:
a

10

In [3]:
c

30

In [8]:
name="VEENA"
name

'VEENA'

In [9]:
print(name)

VEENA

In [5]:
n="VEENA"
print(f"I'm ",n)

I'm  VEENA

In [11]:
n

'VEENA'

In [12]:
name1="LAKSHMI"
name2="CHINNU"
branch="Data Science"
print(name1+" and "+name2 +" are study ds")
#print(branch)

LAKSHMI and CHINNU are study ds

In [13]:
print(name2+" or "+branch)

CHINNU or Data Science

# IDENTIFIERS   #(user defined variable)

In [14]:
num=10
print(num)

10

In [15]:
num

10

In [1]:
@ad=41
@ad

SyntaxError: invalid syntax (829518018.py, line 1)

In [16]:
_a=10
print(_a)

10

In [12]:
x_y=20
print(x_y)

20

In [13]:
x_y

20

# Variables

variable is a name that is used to refer to memory location. Python Variable is also known as an identifier andis used to hold value.

In [25]:
a="orange"
print(a)

orange

In [15]:
a

'orange'

In [26]:
type(a)           #to find out which type the variable a is

str

In [27]:
b=20
print(b)
type(b)

20

int

In [17]:
c=2.2
type(c)

float

In [19]:
a=60
b=a
a

60

In [20]:
b

60

In [21]:
# MULTIPLE ASSIGNMENT

In [29]:
x=y=z=d=30
d

30

In [30]:
y

30

# Deleting a Variable

In [1]:
#assigning a value to x
x=6
print(x)

6

In [3]:
del x
print(x)

NameError: name 'x' is not defined

printing multiple values

In [38]:
a=5
b=6
print(a,b)

5 6

# NUMBERS

# there are three numeric types in python
int
float
complex

In [21]:
x=1         #int
y=2.8      #float
z=1j        #complex
x

1

In [22]:
x=1
y=3j
c=x+y
c

(1+3j)

In [23]:
y

3j

In [24]:
type(z)

complex

In [30]:
a=3
b=3
print(a+b)
print(a,b)
a-b

6
3 3

0

# Type Conversion

In [7]:
x=1
y=2.8
z=1j
#convert from int to float:
a=float(x)
a

1.0

In [8]:
b=int(y)
b

2

In [9]:
c=complex(x)
print(c)

(1+0j)

In [10]:
print(a)
print(type(a))

1.0
<class 'float'>

In [11]:
a=15
b=2
print(a/b)

7.5

In [12]:
print(a%b)      #modulus operator(remainder)

1

In [15]:
d=3
g=2

In [16]:
d**g

9

# Strings(Series of characters)

anything inside "" is considered as strings

In [28]:
place="trivandrum"
place

'trivandrum'

In [29]:
a="kerala"
a

'kerala'

In [3]:
len(a)             #to find the length of the string

6

In [30]:
print(len(place))

10

Combining two Strings

In [31]:
a= "Unity in" 
b= "  Diversity"
s=a+b
print(s)

Unity in  Diversity

In [32]:
a+b

'Unity in  Diversity'

In [33]:
x="Hi Good Morning"                #accessing characters using index
x[8]

'M'

In [34]:
x[1:6]

'i Goo'

In [35]:
y=x +", How are you?"
y

'Hi Good Morning, How are you?'

# To get first letter as capital

In [39]:
z="twinkle"
z.capitalize()

'Twinkle'

In [40]:
b= "good morning"

In [41]:
b.title()

'Good Morning'

In [42]:
print(z.upper())

TWINKLE

In [43]:
z.lower()

'twinkle'

In [4]:
z.upper()

'TWINKLE'

In [44]:
a="aps"
a.replace("p","z")

'azs'

#

#

In [45]:
a=[2,3,4,7]
a.insert(4,6)
a

[2, 3, 4, 7, 6]

In [46]:
a=[1,2,3,4]
a[0]=6
print(a)

[6, 2, 3, 4]

In [47]:
x=[2,5,7,8]
x.insert(0,4)
x

[4, 2, 5, 7, 8]

# LISTS

In [48]:
L=["orange","guava","apple"]                   #duplicate strings or variables can be used in the lists.
L[2]

'apple'

In [49]:
L[1]

'guava'

In [50]:
L[0]

'orange'

In [51]:
L1=[1,2,3,4,5,6]
L1

[1, 2, 3, 4, 5, 6]

In [52]:
L1[3]

4

In [53]:
L1[4]

5

In [15]:
apple=3

In [16]:
thislist = ["apple", "banana", "cherry","cat","dog","dove","animal"]
#thislist.reverse()
print(thislist)
thislist[::-3]

[3, 'banana', 'cherry', 'cat', 'dog', 'dove', 'animal']

['animal', 'cat', 3]

# SORTING

In [54]:
list0=[1,8,4,7,6,9,10]
list0.sort()                  #for sorting
list0

[1, 4, 6, 7, 8, 9, 10]

In [35]:
list0[0]

1

# REVERSING A LIST

In [57]:
L=['a','b','c','d','e']
L[::-1]

['e', 'd', 'c', 'b', 'a']

In [9]:
#modify multiple list items
L=['a','b','c','d','e']
L[1:3]=[1,2,3]
L

['a', 1, 2, 3, 'd', 'e']

In [59]:
#insert items without replacing
#insert at the start
L1=['a','b','c','d','e']
L1[:0]=[1,2,3]
print(L1)

[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

In [60]:
#insert at the end
L1=['a','b','c','d','e']
L1[len(L1):]=[1,2,3]
print(L1)

['a', 'b', 'c', 'd', 'e', 1, 2, 3]

In [61]:
#insert at middle
L1=['a','b','c','d','e']
L1[2:2]=[1,2,3]
print(L1)

['a', 'b', 1, 2, 3, 'c', 'd', 'e']

In [11]:
#create an empty list
L1=['a','b','c','d','e']
L1[0:5]=[]
L1

[]

In [12]:
L1[0:3]=[]
L1

[]

In [24]:
#deleting a list
L=[1,2,3,4,5,6,7]
del L[1:5]
L

[1, 6, 7]

# Append Function

(add a list in last)

In [64]:
List1=['apple','orange','banana',"banana"]
List1.append(['cherry','dates'] )                   #append a list 
List1

['apple', 'orange', 'banana', 'banana', ['cherry', 'dates']]

In [2]:
List1=['apple','orange','banana']
List1[len(List1):]=["guva","apple"]                  #insert at the end
List1

['apple', 'orange', 'banana', 'guva', 'apple']

In [44]:
#count function
A=[1,3,7,5,7,4,7,3,6]
A.count(7)

3

In [48]:
#MIN AND MAX
min(A)

1

In [47]:
max(A)

7

In [47]:
max(A)

7

In [65]:
#Remove & Clear a list
A=[1,3,7,5,7,4,7,3,6]
A.remove(7)
A

[1, 3, 5, 7, 4, 7, 3, 6]

In [55]:
A.clear()
A

[]

# Format Function

In [8]:
txt="My name {0} , and my age is {1}". format('lakshmi', 25) #speecified value into specified format
txt

'My name lakshmi , and my age is 25'

In [9]:
txt="My name {} , and my age is {}". format('lakshmi', 25)
print(txt)

My name lakshmi , and my age is 25

In [10]:
txt="My name {fname} , and my age is {fage}". format(fname='lakshmi',fage= 25)
txt

'My name lakshmi , and my age is 25'

# TUPLE

Tuple is a collection of python objects seperated by commas.

Python Tuple is used to store the sequence of immutable(unable to change) python objects.

The tuple is similar to lists since the value of the items stored in the lists can be changed,when the tuple is immutable and the value of the items stored in the tuple cant be changed.

ordered and immutable.

A tuple is a collection which is ordered and unchangeable.

In [66]:
t1=('apple', 'banana','orange')
t1

('apple', 'banana', 'orange')

In [13]:
#tuple also allows duplicate value
t1=('apple','banana','orange','grapes','orange','orange')
t1

('apple', 'banana', 'orange', 'grapes', 'orange', 'orange')

In [68]:
#to determine how many items a tuple has, use the len function
t1=('apple','banana','orange','grapes','orange')
len(t1)

5

In [3]:
#one item tuple, remember the comma
thistuple=('apple',)
type(thistuple)

tuple

In [78]:
#not a tuple
thistuple=('apple')
print(type(thistuple))

<class 'str'>

tuple1=('apple','banana','cherry')          #strings
tuple2=(1,5,7,9,6)                          #integers
tuple3=(true, false,false)                  #boolean functions(1 and 0)

In [69]:
#A tuple with strings,integers and boolean
tuple4=('abc',34,True,40,'male')
type(tuple4)

tuple

In [1]:
tup1=('physics','chemistry','maths',1996,234)
tup2=(1,2,3,4,5,6)
tup1[2]

'maths'

In [73]:
tup2[4]               #indexing

5

In [74]:
t1=(12,34.56)
t2=("abc",'xyz')
tup3=t1+t2
tup3

(12, 34.56, 'abc', 'xyz')

In [14]:
#deleting elements
t1=(1,2,3,4,5,6,7,)
del t1
t1

NameError: name 't1' is not defined

#python tuple method tuple()


following is the syntax for tuple() method 
tuple(seq)

In [76]:
aList=[123,'xyz','zara','abd']                      #converts a list of items into tuples
aTuple=tuple(aList)
aTuple

(123, 'xyz', 'zara', 'abd')

In [2]:
aList=(123,'xyz','zara','abd')                      #converts a list of items into tuples
aTuple=list(aList)
aTuple

[123, 'xyz', 'zara', 'abd']

In [15]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[2:5])

['cherry', 'orange', 'kiwi']

In [16]:
mylist [::-2]

['mango', 'kiwi', 'cherry', 'apple']

In [20]:
mylist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [23]:
mylist[-5:-2]

['cherry', 'orange', 'kiwi']

# Slicing

In [17]:
tuple1=(0,1,2,3,4,6,7,9,5,)
print(tuple1[:3])                      # w/o zeroth position
tuple1

(0, 1, 2)

(0, 1, 2, 3, 4, 6, 7, 9, 5)

In [18]:
print(tuple1[::-1])

(5, 9, 7, 6, 4, 3, 2, 1, 0)

In [19]:
print(tuple1[::-2])                       #reversed

(5, 7, 4, 2, 0)

In [81]:
print(tuple1[2:6])                     #2nd and 3rd position

(2, 3, 4, 6)

In [82]:
#min and max

T1=(10,20,50,40,60)
max(T1)

60

In [83]:
min(T1)

10

In [84]:
max(T1)

60

In [32]:
min(T1)

10

In [85]:
#create a tuple from a list
t=tuple([1,2,3])
t

(1, 2, 3)

In [3]:
a=[1,2,3]
w=tuple(a)

In [4]:
w

(1, 2, 3)

the count() method returns the no:of items a specified value appears in the tuple.
    
    syntax: tuple.count(value)

In [86]:
thistuple=(1,2,3,4,7,9,2,3,5,5,8,9)
thistuple.count(5)

2

In [87]:
f=thistuple.count(9)
f

2

the index()method finds the first occurence of the specified value.

the index()method raises an exception if the value is not found.

syntax:tuple.index()

In [20]:
thistuple=(1,3,7,6,9,8,4,6,0,8,5)
c=thistuple.index(8)
c

5

# Dictionary

Python dictionary is an unordered collection of items.
Each item of a dictionary has a key/value pair.

In [1]:
#empty dictionary
my_dic={}
my_dic

{}

In [27]:
#dictionary with mixed keys
my_dict2={'name':"John","place ":"tvm",1:[2,4,3]}
my_dict2

{'name': 'John', 'place ': 'tvm', 1: [2, 4, 3]}

In [29]:
my_dict2[0]

KeyError: 0

In [2]:
type(my_dict2)

dict

In [4]:
#using dict()
#we can also create a dictionaryusing built-in dict() function

my_dict=dict({1:'apple',2:'ball'} )           #key and value inside bracket
type(my_dict)
#my_dict

dict

In [5]:
#from sequence  having each item a pair
my_dict=dict([(1,'apple'),(2,'ball'),("HI","orange"),(4,"banana")])
my_dict

{1: 'apple', 2: 'ball', 'HI': 'orange', 4: 'banana'}

In [7]:
s=my_dict["HI"]
s

'orange'

In [20]:
#get vs[] for retrieving elements
d1={'name':'Jack','age':26}
d1

{'name': 'Jack', 'age': 26}

In [21]:
len(d1)

2

In [22]:
d1['name']               #call

'Jack'

In [23]:
d1.get('name')                #get funtion with c bracket

'Jack'

In [1]:
#get vs[] for retrieving elements
d1={'name': 'Jack','age':26}
d1

{'name': 'Jack', 'age': 26}

In [2]:
len(d1)

2

In [3]:
d1['name']

'Jack'

In [5]:
d1.get('name')

'Jack'

In [6]:
#get vs[] for retrieving elements
my_dic={'name':'Jack',"age":26}
my_dic

{'name': 'Jack', 'age': 26}

In [8]:
my_dic['name']

'Jack'

In [5]:
#changing and adding dictionary elements
my_dict={'name':'Jack','age':26}

#updating value
my_dict['age']=27
print(my_dict)

{'name': 'Jack', 'age': 27}

In [6]:
#add item
my_dict={'name':'Jack','age':26}
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 26, 'address': 'Downtown'}

In [7]:
my_dict["place"]="boston"
my_dict

{'name': 'Jack', 'age': 26, 'address': 'Downtown', 'place': 'boston'}

In [21]:
my_dict.pop("age")

26

In [22]:
my_dict

{'name': 'Jack', 'address': 'Downtown', 'place': 'boston'}

In [23]:
my_dict.pop("name")
my_dict

{'address': 'Downtown', 'place': 'boston'}

In [24]:
my_dict["pin code"]=1234
my_dict

{'address': 'Downtown', 'place': 'boston', 'pin code': 1234}

In [16]:
d={1:'a',2:'b',3:'c'}
d

{1: 'a', 2: 'b', 3: 'c'}

In [17]:
#clear()
d={1:'a',2:'b',3:'c'}
d.clear()
d

{}

In [24]:
#to view only keys
d={1:'a',2:'b',3:'c'}
d.keys()

dict_keys([1, 2, 3])

In [26]:
#values()
d={1:'a',2:'b',3:'c'}
d.values()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [27]:
#items()
d={1:'a',2:'b',3:'c'}
d.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [143]:
d={1:'a',2:'b',3:'c'}
d.update({4:'d'})
d

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [30]:
c=set(["apple","oorange"])
c

{'apple', 'oorange'}

In [1]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'cherry', 'grapes', 'orange', 'apple', 'mango', 'banana'}

In [24]:
Dict={"dict1": {1:"greek"},"dict2": {"name":"for"}}


print(Dict["dict1"])
print(Dict["dict1"][1])
print(Dict["dict2"]["name"])

{1: 'greek'}
greek
for

In [25]:
print(bool(3))
print(bool("hello"))
print(bool(['insta','whatsapp','facebook']))
print(bool(False))
print(bool(True))
print(bool(None))
print(bool(0))
print("---------")
print(bool({}))
print(bool(()))

True
True
True
False
True
False
False
---------
False
False