In [14]:
import pandas as pd
data=pd.read_csv('words.csv')
data.shape

(4318, 1)

In [15]:
ord('b')

98

In [16]:
print(ord('0'))

48

In [17]:
def calculate_value(s):
    value = 0
    for char in s.lower():  
        if 'a' <= char <= 'z':  
            value += ord(char) - ord('a') + 1  
    return value

In [18]:
data.columns = ['word'] 
data['charcount'] = data['word'].str.len()
data['value'] = data['word'].apply(calculate_value)

In [19]:
data.to_csv('nd.csv',index=False)

In [20]:
ds=pd.read_csv('nd.csv')

In [21]:
ds.head()

   word  charcount  value
0   and          3     19
1  have          4     36
2  that          4     49
3   for          3     39
4   you          3     61